* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

:host {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 600px;
  background: url('phoenix.webp') no-repeat center bottom fixed;
  background-size: 100% auto;

  color: rgb(35, 7, 7);
}