<div class="background">
  <div class="overlay">
    <div class="row justify-content-center" style="margin-top: 20px; height:1000px;">
      
      

      <div class="container">
        

        <div class="main-content">
          <div class="top-bar">
            

            <div class="article-table">
              <div class="col-6 login-box">
                  <h2>Nouvelle Demande</h2>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Liens</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of links">
                        <td>
                          <a [routerLink]="['/demande', item.id]" >{{ item.reference }} &nbsp;{{ item.libelles }}</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

              </div>
                
            </div>



            
    </div>
  </div>
</div>

      
      

    </div>
  </div>
</div>





