/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.brand {
  color: darkred;
  font-size: 1.8rem;
  font-weight: bold;
  padding-right: 70px;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: darkred;
  font-weight: bold;
}

/* Background */
.background {
  height: calc(100vh - 130px);
  background: url('phoenix.webp') no-repeat center center/cover;
  position: relative;
}

.overlay {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #b30000;
}

.login-box label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-box button {
  background-color: #8b0000;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #a00000;
}


.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 0;
  margin: 0;
}


/* Section header */
.header {
  background: rgba(255, 255, 255, 0.9);
  color: #c70000;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header h1 {
  font-size: 30px;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  color: #c13e0b;
  padding-left: 0;
  margin-left: 10px;
}

.nav{
  margin-right: 10px;
  flex:1;
  text-align: right;
}


.nav a {
  color: #1a237e;
  font-size: 1.2em;
  margin-left: 20px;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.nav a:hover {
  color:#585c8c;
}
img{
  height: 70px;
  margin:0;
  margin-left:20px;
  padding:0;
 }

