
<app-header-directeur></app-header-directeur>
<div class="background">
  <div class="overlay">
    <div class="row justify-content-center" style="margin-top: 20px; height:1000px;">
      
      

      <div class="container correct">
        
        <div class="main-content">
          <div class="top-bar">
            

                  <h2>Request</h2>
                  <table *ngIf="links.length">
                    <thead>
                      <tr>
                        <th>Numero Demande </th>
                        <th>Réfèrences</th>
                        <th>Désignation</th>
                        <th>Catégorie</th>
                        <th>Quantity</th>
                        <th>Prix Unitaire</th>
                        <th>Remise</th>
                        <th>Prix Totale</th>
                        <th>TVA</th>

                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of links">
                        <td [ngClass]="getColorClass(item.situation)">{{ item.num }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.reference }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.libelles }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.categorie }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.quantity }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.p_unitaire }} TND</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.remise }} %</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.p_totale }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.tva }}</td>

                        
                        <td [ngClass]="getColorClass(item.situation)">
                          <input type="button" value="Confirm" class="btn-confirme" (click)="confirmDemande(item)">
                        </td>

                        <td [ngClass]="getColorClass(item.situation)">
                          <input type="button" value="Reject" class="btn-confirme" (click)="SupprimmerDemande(item)">
                        </td>
                      </tr>
                    </tbody>

                  </table>

            <br><br><br>
            </div>
          </div>
        </div>

      

    </div>
  </div>
</div>




