
<div class="background">
  <div class="overlay">
    <div class="row justify-content-center" style="margin-top: 20px; height:1000px;">
      
      

      <div class="container correct">
        

        <div class="main-content">
          <div class="top-bar">
            

                  <h2>Request</h2>
                  <table *ngIf="links.length">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Name of Company</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Estimated  Cost</th>
                        <th>Guarantees</th>
                        <th>Payment Methode</th>
                        <th>Situation</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of links">
                        <td [ngClass]="getColorClass(item.situation)">{{ item.id }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.piece_name }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.company }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.categorie }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.quantity }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.unit_price }} TND</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.estimatedCost }} TND</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.guarantees }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.payment_method }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.situation }}</td>
                        <div [ngClass]="getColorClass(item.situation)">
                          <td  *ngIf="situationFilter === 'pending' && item.situation === 'pending'">
                            <input type="button" value="Update" (click)="UpdateRequest(item)">
                          </td>
                        </div> 
                      </tr>
                    </tbody>

                  </table>

            <br><br><br>
            </div>
          </div>
        </div>

      

    </div>
  </div>
</div>




