<div class="sticky-header">
  <div class="header">
  <img [src]="logo" />
  <h1>
    Phoenix Mecano Elcom
  </h1>
   
    <div class="nav">
      <a href="/">Home</a>
      <a href="/Sign">Sign up</a>
      <a href="/contact ">Contact </a>

    </div>
  </div>
</div>
    <div class="hero" >
        <h2>Welcome to our company’s website</h2>
        <p>Where we are committed to assuring quality and excellence.</p>
        <br>
        <form action="http://localhost/ShopManager3/backend/uploads/login.php" method="post">

        <h5>Log In to Your Account</h5>

          <div class="mb-3">
          <label for="email" class="form-label">Email address</label>&nbsp;

          <input type="email" class="form-control" id="email" name="email" placeholder="yourname@email.com" required>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>&nbsp;&nbsp;&nbsp;
          &nbsp;
          &nbsp;
          &nbsp;

          <input type="password" class="form-control" id="password" name="pwd" placeholder="Enter your password" required>
          </div>

          <br>
          <button type="submit" class="submit-btn" >Log In</button>
        </form>
    </div>










