<header class="header">
  <img src=[logo] alt="Logo" class="logo" />
  <h1 class="brand">Phoenix Mecano Elcom</h1>
  <nav class="nav-links">
    <a href="/">Home</a>
    <a href="/history">historique</a>
    <a href="/contact">Contact</a>
  </nav>
</header>

<div class="background">


  <div class="row overlay">
    

    <div class="col-6 login-box">
      <h2>Employee Information</h2>
      <form (ngSubmit)="UpdateDemande()">
        <div class="form-row">

            <div class="form-group">
            <label for="Name"> Name</label>
            <input type="text" id="Name" name="Name" [(ngModel)]="devisForm.name" required />
            </div>

            <div class="form-group">
            <label for="text">Last Name</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="devisForm.lastName" required />
            </div>

        </div>

        <div class="form-row">

            <div class="form-group">
            <label for="mat"> Employee ID</label>
            <input type="number" id="employeeId" name="employeeId" [(ngModel)]="devisForm.employeeId" required />
            </div>

        </div>
        <div class="form-row">

            <div class="form-group">
            <label for="tel"> Tel</label>
            <input type="tel" id="tel" name="tel" [(ngModel)]="devisForm.tel" required />
            </div>

            <div class="form-group">
            <label for="mail">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="devisForm.email" required />
            </div>

        </div>
        <h2> Request Information</h2>
        
        <div class="form-row">

            <div class="form-group">
            <label for="date"> Request Date</label>
            <input type="date" id="requestDate" name="requestDate" [(ngModel)]="devisForm.requestDate" required />
            </div>

            <div class="form-group">
            <label for="number">Request Number</label>
            <input type="number" id="requestNumber" name="requestNumber" [(ngModel)]="devisForm.requestNumber" required />
            </div>

        </div>

        <div class="form-row">

            <div class="form-group">
            <label for="lieudep"> De:</label>
            <input type="text" id="form" name="form" [(ngModel)]="devisForm.from" required />
            </div>

            <div class="form-group">
            <label for="text">A:</label>
            <input type="text" id="to" name="to" [(ngModel)]="devisForm.to" required />
            </div>

        </div>

        <div class="form-row">

            <div class="form-group">
            <label for="Name"> Request Description</label>
            <input type="textarea" id="description" name="description" [(ngModel)]="devisForm.description" required />
            </div>

        </div>

        <div class="form-row">

            <div class="form-group">
            <label for="date"> Required Date</label>
            <input type="date" id="requestDate" name="requiredDate"[(ngModel)]="devisForm.requiredDate" required />
            </div>

            <div class="form-group">
            <label for="cout">Estimated Cost</label>
            <input type="number" id="EstimatedCost" name="EstimatedCost" [(ngModel)]="devisForm.estimatedCost"required />
            </div>

        </div>
        <div class="form-row">

            <div class="form-group">
            <label for="just"> Justification</label>
            <input type="textarea" id="justification" name="justification" [(ngModel)]="devisForm.justification" required />
            </div>

        </div>
         <div class="form-group">
            <label for="company">Name of Company</label>
            <input type="text" id="company" name="company" [(ngModel)]="devisForm.company" required />
          </div>
        

        <div class="form-row">
          <div class="form-group">
            <label for="pieceNumber">Pièce Number</label>
            <input type="number" id="pieceNumber" name="pieceNumber" [(ngModel)]="devisForm.pieceNumber" required />
          </div>

          <div class="form-group">
            <label for="pieceName">Pièce Name</label>
            <input type="text" id="pieceName" name="pieceName" [(ngModel)]="devisForm.pieceName" required />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" [(ngModel)]="devisForm.quantity" required />
          </div>

          <div class="form-group">
            <label for="unitPrice">Unit Price</label>
            <input type="number" id="unitPrice" name="unitPrice" [(ngModel)]="devisForm.unitPrice" required />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="guarantees">Guarantees And Return</label>
            <textarea id="guarantees" name="guarantees" [(ngModel)]="devisForm.guarantees" rows="6" cols="50" required></textarea>
          </div>
        </div>

        <div class="form-row">
          <label for="paymentMethod">Payment Method</label>
          <select id="paymentMethod" name="paymentMethod" [(ngModel)]="devisForm.paymentMethod" required>
            <option value="">Select</option>
            <option value="Virement">Virement</option>
            <option value="Chèque">Chèque</option>
            <option value="Espèces">Espèces</option>
          </select>
        </div>
        <br>
        

        <div class="form-row">

            <button type="submit" class="submit-btn" (click)="openPopup($event)">Update Request</button>

        </div>

      </form>
    </div>

    <div class="popup" *ngIf="showPopup">
          <div class="popup-content">
            <h4>Motif du modification</h4>
            <textarea [(ngModel)]="reason" placeholder="Écrivez votre justification ici..."></textarea>
            <div class="popup-buttons">
              <button (click)="confirmUpdate()">Confirmer</button>
              <button (click)="closePopup()">Annuler</button>
            </div>
          </div>
        </div>

    
  </div>

</div>
