<app-header-directeur></app-header-directeur>
<div class="background">
  <div class="overlay">
    <div class="row justify-content-center" style="margin-top: 20px; height:1000px;">
      
      

      <div class="container correct">
        <div class="sidebar">
          
          <nav>
            <h2>Situation :</h2>

            <input type="radio" name="option" id="option1"> pending <br><br>
            <input type="radio" name="option" id="option2">commande <br><br>
            <input type="radio" name="option" id="option3">stock <br><br>
            <input type="radio" name="option" id="option4">rejected<br><br>

            <h2>Catégory :</h2>
            <input type="checkbox" name="catégorie" id="cat1">Pièce birotique <br> <br>
            <input type="checkbox" name="catégorie" id="cat2">Accessoire et Connectivité <br> <br>
            <input type="checkbox" name="catégorie" id="cat3">Pièce industrielle <br><br>
            <input type="checkbox" name="catégorie" id="cat4">Pièce éléctronique 
            <br>
            <h2>Amount :</h2>
            <input type="radio" name="option" id="op1"> Display all the prices <br><br>
            <input type="radio" name="option" id="op2">Show all prices above 5000 TND <br><br>
            <input type="radio" name="option" id="op3">Show all prices less 5000 TND <br><br><br><br>

            <input type="submit" class="validate-btn" value="Validate information" (click)="applyFilters()">


          </nav>
        </div>

        <div class="main-content">
          <div class="top-bar">
            

                  <h2>Request</h2>
                  <table *ngIf="links.length">
                    <thead>
                      <tr>
                        <th>Demande d'achat N° </th>
                        <th>Réfèrence</th>
                        <th>Désignation</th>
                        <th>Quantité</th>
                        <th>Prix Unitaire</th>
                        <th>Remise</th>
                        <th>Montant HT</th>
                        <th>TVA</th>
                        <th>Situation</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of links">
                        <td [ngClass]="getColorClass(item.situation)">{{ item.num }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.reference }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.libelles}}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.quantity }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.p_unitaire }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.remise }} TND</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.p_totale}} TND</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.TVA }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.situation}}</td>

                         
                      </tr>
                    </tbody>

                  </table>

            <br><br><br>
            </div>
          </div>
        </div>

      

    </div>
  </div>
</div>




