<app-header-directeur></app-header-directeur>
<div class="background">
  <div class="overlay">
    <div class="row justify-content-center" style="margin-top: 20px; height:1000px;">
      
      

      <div class="container correct">
        

        <div class="main-content">
          <div class="top-bar">
            

                  <h2>Request</h2>
                  <table *ngIf="links.length">
                    <thead>
                      <tr>
                        <th>Demande d'achat N° </th>
                        <th>Réfèrence</th>
                        <th>Désignation</th>
                        <th>Quantité</th>
                        <th>Prix Unitaire</th>
                        <th>Remise</th>
                        <th>Montant HT</th>
                        <th>TVA</th>
                        <th>Situation</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of links">
                        <td [ngClass]="getColorClass(item.situation)">{{ item.num }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.reference }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.libelles}}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.quantity }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.p_unitaire }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.remise }} TND</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.p_totale}} TND</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.TVA }}</td>
                        <td [ngClass]="getColorClass(item.situation)">{{ item.situation}}</td>

                         
                      </tr>
                    </tbody>

                  </table>

            <br><br><br>
            </div>
          </div>
        </div>

      

    </div>
  </div>
</div>




